body{
    background-color: #222220;
}
text{
    text-align: center;
    color: aliceblue;
}
h1{
    color: #FFF;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
    text-align: center;
    font-weight: 275;
}
h2{
    color: #FFF;
    font-family: Great Vibes;
    font-style: normal;
    line-height: normal;
    text-align: center;
}
h3{
    color: #FFF;
    font-family: Great Vibes;
    font-style: normal;
    line-height: normal;
    text-align: center;
}
p{
    color: #FFF;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
    text-align: center;
}
.text1{
    color: #FFF;
    text-align: center;
    font-family: Great Vibes;
}
.bg1{
    background-color: #292927;
    border-radius: 30px;
}
.tombol { position: fixed; bottom: 15px; right: 10px; }

#toggleButton {
    position: fixed; /* Tombol tetap di posisi layar */
    bottom: 20px;    /* Jarak dari bawah */
    right: 20px;     /* Jarak dari kanan */
    z-index: 1000;   /* Agar selalu di atas elemen lainnya */
}

#toggleButton img {
    width: 30px; /* Ukuran ikon */
    height: 30px;
}

#stopScrollButton {
    position: fixed; /* Tombol tetap di posisi layar */
    bottom: 20px;    /* Jarak dari bawah */
    right: 70px;     /* Jarak dari kanan, menyesuaikan posisi tombol */
    z-index: 1000;   /* Agar selalu di atas elemen lainnya */
    width: 30px;     /* Ukuran tombol */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scrollToggleButton {
    position: fixed; /* Tombol tetap di posisi layar */
    bottom: 20px;    /* Jarak dari bawah */
    right: 70px;     /* Jarak dari kanan, menyesuaikan posisi tombol */
    z-index: 1000;   /* Agar selalu di atas elemen lainnya */
    width: 40px;     /* Ukuran tombol */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scrollToggleButton i {
    font-size: 20px; /* Ukuran ikon */
}